In [17]:
import pandas as pd
import scipy
from scipy.stats import chisquare

In [2]:
data=pd.read_csv('BuyerRatio.csv')
data

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [ ]:
# H0-male female buyer ratios are equal
# H1-male female buyer ratios are not equal

In [7]:
data['all'] = data.sum(axis=1)

In [8]:
data

  Observed Values  East  West  North  South   all
0           Males    50   142    131     70   393
1         Females   435  1523   1356    750  4064

In [9]:
count=pd.crosstab(data['Observed Values'],data['all'])
count

all              393   4064
Observed Values
Females             0     1
Males               1     0

In [27]:
Chisquares_results=scipy.stats.chisquare(count)
Chisquares_results

Power_divergenceResult(statistic=array([1., 1.]), pvalue=array([0.31731051, 0.31731051]))

In [ ]:
#  p value is greater than 0.05 
# hence we accept null hypothesis
# male female buyer ratio are similar