In [1]:
import pandas as pd
import scipy
from scipy import stats

In [2]:
form = pd.read_csv('Costomer+OrderForm.csv')
form

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [3]:
# H0- % of defective not varies by centre
# H1- % of defective are varies by centre

In [6]:
from sklearn.preprocessing import LabelEncoder
form=form.apply(LabelEncoder().fit_transform)

In [5]:
form

     Phillippines  Indonesia  Malta  India
0               1          1      0      1
1               1          1      1      0
2               1          0      0      1
3               1          1      1      1
4               1          1      0      1
..            ...        ...    ...    ...
295             1          1      1      1
296             1          1      1      1
297             1          1      0      1
298             1          1      1      1
299             1          0      0      1

[300 rows x 4 columns]

In [10]:
chisquare_results=scipy.stats.chi2_contingency(form)
chisquare_results

(112.74730231885849,
 1.0,
 897,
 array([[0.74793008, 0.73689052, 0.7424103 , 0.77276909],
        [0.74793008, 0.73689052, 0.7424103 , 0.77276909],
        [0.49862006, 0.49126035, 0.4949402 , 0.51517939],
        ...,
        [0.74793008, 0.73689052, 0.7424103 , 0.77276909],
        [0.99724011, 0.9825207 , 0.9898804 , 1.03035879],
        [0.49862006, 0.49126035, 0.4949402 , 0.51517939]]))

In [8]:
chisquare_results=[['','Test Statistic','p-value'],['Sample Data',chisquare_results[0],chisquare_results[1]]]
chisquare_results

[['', 'Test Statistic', 'p-value'], ['Sample Data', 112.74730231885849, 1.0]]

In [ ]:
# p value is greater than 0.05, we accept null hypothesis